.DS_Store
nowapplication
*.pyc
*.pyo
*.swp
.env
env
env*
venv
dist
build
*.egg
*.egg-info
_mailinglist
dump.rdb
.tox
.cache/
.idea/
.vscode/
.fleet/
db.sqlite3
config.py
config.yml
*.log
host_rsa_key
*.bat
tags
jumpserver.iml
.python-version
tmp/*
sessions/*
media
celerybeat.pid
django.db
celerybeat-schedule.db
docs/_build/
xpack
xpack.bak
### Vagrant ###
.vagrant/
release/*
releashe
/apps/script.py
data/*
test.py
.history/
.test/
.DS_Store
node_modules/
dist/
lina/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
*/nohup.out

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env.development
.python-version

mycore-ce-v3-16.tar.gz
